# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Local databases
*.db

# Uploads and temporary files
uploads/
chunks/
knowledge_graphs/

# IDE and OS specific files
.vscode/
.idea/
.DS_Store

chatera-468016-8285e644e1a1.json